<div class="infoBook">
    <h2>Sinopse de: <span class="nameBook">{{book.name}}</span></h2>
    <div class="divImgBook">
        <img src="{{book.image}}" alt="Imagem do livro" class="imgBook">
    </div>
    <p class="qtdPag">N° de páginas: <span class="spanPag">{{book.qtdPag}}</span></p>
    <div class="sinopseBook">
        <p>{{book.sinopse}}</p>
    </div>

    <a href="/books" class="back">Voltar</a>
</div>
