<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="shortcut icon" href="/imgs/book2.png" type="image/x-icon">
    <title>Livros</title>
</head>
<body>

    <nav id="navbar">
        <h1 class="titleNav">Title</h1>
        <ul id="listNav">
            <li class="liNav"><a href="/books">Livros</a></li>
            <li class="liNav"><a href="/books/add">Adicionar</a></li>
        </ul>
    </nav>

    <div class="container">
        {{{body}}}
    </div>

</body>
</html>